<div class="row">
  <div class="col-lg-12">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="#">ノード</a></li>
      <li class="active"><%= @node.name %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="node-title"><%= @node.name %></h3>
        <%= @node.description %>
      </div>
      <ul class="list-group">
        <%= render partial: 'topics/topic', collection: @topics, locals: {show_node: false} %>
      </ul>

      <div class="panel-footer">
        <center>
          <%= paginate @topics %>
        </center>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <center><h2 class="panel-title">Rails</h2></center>
      </div>
      <div class="panel-body">
        <center>
          <%= link_to "スレッドを作成", "#", class: "btn btn-primary" %>
        </center>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <center>
          <h2 class="panel-title">人気ノード</h2>
        </center>
      </div>
      <div class="panel-body node-tags">
        <label for="" class="label label-default">Rails</label>
        <label for="" class="label label-default">Ruby</label>
        <label for="" class="label label-default">Gem</label>
        <label for="" class="label label-default">入門</label>
      </div>
    </div>
  </div>
</div>
