<div class="row">
  <div class="col-lg-12">
    <ul class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#"><%= @topic.node.name %></a></li>
      <li class="active">スレッド閲覧</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="pull-right gravatar">
          <%= image_tag "http://gravatar.com/avatar/aaaaaaaaaaaa.png" %>
        </div>
        <h3 class="topic-title">
          <a href=""><i class="icon-star-empty"></i></a>
          <%= @topic.title %>
        </h3>
        <small class="info leader">
          <%= link_to "sakana" %>
          さん 18 時間前作成しました・最後は
          <%= link_to "yuiti takana" %>
          さんが2時間前書き込みました・203回閲覧
        </small>
      </div>
      <div class="panel-body">
        <p><%= @topic.body %></p>
        <div class="tools">
          <a href="#"><i class="icon-twitter-sign icon-2x"></i></a>
          <a href="#"><i class="icon-facebook-sign icon-2x"></i></a>
          <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">合計 6 件の書き込み</div>
      <div id="replies">
        <div class="reply">
          <div class="pull-left gravatar">
            <%= image_tag "http://gravatar.com/avatar/aaaaaaaaaaaa.png" %>
          </div>
          <div class="infos">
            <div class="info">
              <span class="name"><a href="#">lgn21st</a></span>
              No.1, 昨日
              <span class="pull-right">
                <a href="#">
                  <i class="icon-thumbs-up-alt"></i>
                  いいね！
                </a>
                <a href="#"><i class="icon-reply"></i></a>
              </span>
            </div>
            <div class="body">
              おお、いいですね！参考になります
            </div>
          </div>
        </div>
        <div class="reply">
          <div class="pull-left gravatar">
            <%= image_tag "http://gravatar.com/avatar/aaaaaaaaaaaa.png" %>
          </div>
          <div class="infos">
            <div class="info">
              <span class="name"><a href="#">jasl</a></span>
              No.2, 昨日
              <span class="pull-right">
                <a href="#">
                  <i class="icon-thumbs-up-alt"></i>
                  いいね！
                </a>
                <a href="#"><i class="icon-reply"></i></a>
              </span>
            </div>
            <div class="body">
              便利そうですね。社内も導入しょうかな。。。
            </div>
          </div>
        </div>
        <div class="reply">
          <div class="pull-left gravatar">
            <%= image_tag "http://gravatar.com/avatar/aaaaaaaaaaaa.png" %>
          </div>
          <div class="infos">
            <div class="info">
              <span class="name"><a href="#">ugoa</a></span>
              No.3, 昨日
              <span class="pull-right">
                <a href="#">
                  <i class="icon-thumbs-up-alt"></i>
                  いいね！
                </a>
                <a href="#"><i class="icon-reply"></i></a>
              </span>
            </div>
            <div class="body">
              既に導入しています。<br><br>
              結構便利です。ただし、springなどプリロードを使っている場合、下記のように設定しないとうまくいかない<br>
              <pre>
              config.before do
                FactoryGirl.reload!
              end
              </pre>
            </div>
          </div>
        </div>
        <div class="reply">
          <div class="pull-left gravatar">
            <%= image_tag "http://gravatar.com/avatar/aaaaaaaaaaaa.png" %>
          </div>
          <div class="infos">
            <div class="info">
              <span class="name"><a href="#">lgn21st</a></span>
              No.4, 8時間
              <span class="pull-right">
                <a href="#">
                  <i class="icon-thumbs-up-alt"></i>
                  いいね！
                </a>
                <a href="#"><i class="icon-reply"></i></a>
              </span>
            </div>
            <div class="body">
              > No.3 <br>
              素晴らしい！
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="btn-toolbar">
          <div class="btn-group">
            <a href="#" class="btn btn-default" disabled>編集</a>
            <a href="#" class="btn btn-default">プレビュー</a>
          </div>
        </div>
        <form id="new_reply" class="form-inline" role="form" >
          <div class="row">
            <div class="col-lg-10">
              <textarea name="" id="" rows="4" class="form-control"></textarea>
            </div>
            <div class="col-lg-2">
              <button type="submit" class="btn btn-primary">書き込む</button>
            </div>
          </div>
        </form>
        <b><span class="help-block">Markdownで編集出来ます。</span></b>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <center><h2 class="panel-title">Rails</h2></center>
      </div>
      <div class="panel-body">
        <center>
          <%= link_to "スレッドを作成", "#", class: "btn btn-primary" %>
        </center>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <center><h2 class="panel-title">ノードのその他スレッド</h2></center>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><a href="#">RSpecのエラー</a></li>
        <li class="list-group-item"><a href="#">MiniTestの環境設定</a></li>
        <li class="list-group-item"><a href="#">Capybaraのvisit</a></li>
        <li class="list-group-item"><a href="#">RSpec+Capybaraで簡単なBDD入門</a></li>
        <li class="list-group-item"><a href="#">オンラインでの「The RSpec Book」読書会を実施したい....</a></li>
      </ul>
    </div>
  </div>
</div>
