<!DOCTYPE html>
<html>
<head>
  <title>SimpleBBS</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">SimpleBBS</a>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <%= link_to "https://github.com/blueplanet/simple_bbs", class: 'btn btn-default' do %>
          <i class="icon-github"></i>
          blueplanet/simple_bbs
        <% end %>
      </div>
    </div>
  </footer>
</body>
</html>
